*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajuste la taille totale en tenant compte des padding et border */
}

section {
    white-space: nowrap; /* Empêche le texte de revenir à la ligne */
    overflow-x: scroll;
    position: relative;
    z-index: 1;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Place la `div` en arrière-plan */
}
/*
.imgStudioDrake {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
}*/
